.jumbotron{
    background-color: #9575cd !important;
    color: white;
}
.our-history{
    text-align: center;
}
footer{
    background-color: #d1c4e9;
    margin-top: 2rem;
    padding-top: 1rem;
}
